
/*************************
*  login form container
*************************/
#login_container{
  position: relative;
  top: 160px;
  width: 45%;
  border: 3px solid rgb(230,230,230);
  height: 350px;
  padding: 20px;
  background-color: rgba(225,225,225,.2);
 // back-shadow: 20px;
}

#login_note{
  position:absolute;
  left:50%;
  top: 20px;
  width: 45%;
  height: 80px;
  padding:20px;
 background-color: rgba(128,255,255,.3);
  border: 1px solid rgb(230,230,230);
}

/***********************
** Page dialog
***********************/
#page_dialog{
  position: relative;
  height: auto auto;
  width: 100%;
  border:1px solid lightgrey;
  background-color: rgb(250,250,250);
  margin-top: 20px;  
}

#dashboard-disp-opt{
 position: relative;
 top: -15px;
 left: 700px;
 width: 100%;
 text-align: left;
 z-index:99;
}
#page_dialog_stud{
  position: relative;
  height: auto auto;
  width: 100%;
  border:1px solid lightblue;
  background-color:  rgb(250,250,250);
  margin-top: 15px;  
}
#hdr{
  position: relative;
  width: 100%;
  padding-top: 5px;
  height: 25px;
  background-color: rgb(204,204,204);
}

#sys-logo{
  position: absolute;
  left: 30px;
  top: 10px;
  width: 130px;
  border-right: 2px solid  #b03060;
}

#hdr_stud{
  position: relative;
  width: 100%;
  padding-top: 10px;
  height: 100px;
  background-color: rgb(233,251,252);
}

#user-menu{
  position: absolute;
  left: 60%;
  width: 38%;
  top: 0px;
  text-align: right;
}


#cur-date-stud{
  position: absolute;
  left: 180px;
  top: 40px;
  color: white;
  font: normal 14px Tahoma;
}

#hdr-title{
 position: absolute;
 left: 5px;
 width: 90%;
 height: 20px;
}


#xbutton{
  position: absolute;
  left: 96%;
  width: 16px;
  height: 16px;
 
}

#pg-diag-content{
  position: relative;
  margin-top: 10px;
  padding: 10px;
  width: 90%;
  height: auto auto;
}

/***********end of page dialog style*************/

#sub-content{
  position: relative;
  margin-top: 20px;
  left: 20px;
  width: 95%;
  min-height: auto auto;
}

/***********Offered Courses dialog style*************/
#cl_courseList{
	
  position: relative;
  padding: .4em 2em;
  height:40px;
  
}

#cl_background{
  background-color: rgb(205, 240, 240);
  padding-top : 10px;
  padding-bottom : 10px;
  height:40px;
}

#tableStyle{
  width: 100%;
  margin-left: 30px;
  
  margin-right: 30px;
}

/********************
*  popup dialog style here
*************************/

#popup_background{
    position: fixed; 
    top:0; 
    left:0; 
    bottom:0; 
    right:0;
     
    background:#000000;
    opacity: .3;
    -moz-opacity: .3;
    filter: alpha(opacity=30);
    border:1px solid #cecece;
    z-index:1;
    display:none;
}

#popup_div{
   position:fixed;
   left: 0px;
   top: 100px;
   height: auto auto;
   width:550px;
   background:#FFFFFF;
   border:1px solid rgb(204,204,204);
   padding:5px;
   z-index:999;
   cursor:default;   
   display:none;
   border-radius: 10px;
   background-color: rgb(250,250,250);
}


#pd-header{
  position: relative;
  background-color: transparent;
  height: 40px;
  width: 100%;
  border-radius-top-left: 4px;
  border-radius-top-right: 4px;
  border-bottom: 1px solid rgb(204,204,204);
}

#pd-header-title{
  position:absolute;
  left: 10px; 
  top: 5px;
  font-weight: bold;
  font-size: 14;
}

#pd-content{
  position: relative;
  margin-top: 20px;
  width: 95%;
  padding: 10px;
  height: auto auto;
  text-align:left;
}

#pd-footer{
  position: relative;
  margin-top: 0px;
  width: 100%;
  height: 25px;
  background-color: transparent;
  margin-bottom: 20px;
}

/*********end of page dialog style*******/

ul.bordered_list{
  list-style-type: none;
  position: relative;
  left: -40px;
  text-align: left;
}

ul.bordered_list > li{
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(104,104,104);
  font-size: 13px;
}

ul.bordered_list > li > a{
  color: black;
  text-decoration: none;
}

ul.bordered_list > li > a:hover{
  color: blue;
}

#sideBar {
padding: 10px 0px 10px 25px; 
min-height: 10px;
border: 1px solid rgba(0, 0, 0, .3); 
background-color: rgba(225, 225, 225, .1); 
color: black;
}
#sideBar:hover{
background-color: maroon; 
color: white;
}
#studNav{
background-color: rgba(225, 225, 225, .1); 


}
#studNav:hover{
background-color: maroon; 
color: white;
}

/************************
 number item list navigation 
*************************/

ul.itemnav{
  position: relative;
  height: 30px;
  width: 95%;
  list-style: none;
  display: block;
  background-color: rgb(216,216,216);
}

ul.itemnav li{
  float: left;
}

ul.itemnav li a{
 padding: 5px;
 display: block;
 text-decoration:none;
}


/********************************
* Coursera button style
********************************/

#btn{
   /*background-color: rgb(7, 100, 156);*/
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 20px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
    color: white;
    background-image: -moz-linear-gradient(center top , #AA4344, #AA4344);
    background-repeat: repeat-x;
    background-color: #AA4344;
    border-color: maroon maroon maroon;
}

#btn:hover{
    background-color: maroon;
    text-decoration: none;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: rgb(51, 51, 51);
    color: white;
    
    
    text-decoration: none;
    -webkit-text-blink: none;
    -webkit-text-decoration-color: -moz-use-text-color;
    -webkit-text-decoration-line: none;
    -webkit-text-decoration-style: solid;
}

#btn:disabled{
   background-color: rgb(81, 163, 81);
}

/********anchor styles******************/

a.small_white_anchor{
    color: white;
    text-decoration: none;
}

a.small_white_anchor:hover{
    text-decoration: underline;
}


/*
* moco costumize stylesheet
* mococ costumize style are used for every pages in the moco 
* system. some of moco pages uses this styles
*
*/


/*about course style*/
#c_title_header_container{
  position: relative;
  left:0px;
  width: 100%;
  top: 0px;
  height: 50px;
  background-color: rgba(150, 254, 254,.4);
  content: collapse;
  box-shadow: 0px 0px 1px 1px rgb(204, 204, 204);
}

#c_title_header{
  position: absolute;
  top: 15px;
  width: 90%;
  left: 10px;
  text-align: left;
  font-weight: bold;
  font-size: 19px;
  color: white;
}

#about_cont_con{
   position: absolute;
   left: 21%;
   width: 78%;
   top: 70px;
   height: auto;
   text-align: left;   
}
#about_cont_con2{
   position: absolute;
   left: 10%;
   width: 78%;
   top: 70px;
   height: auto;
   text-align: left;   
}

#about_hdr{
   position:relative;
   top: 0px;
   left: 10px;
   width: 100%;
   height: 30px;
   border-bottom: 1px solid rgb(204,204,204);
}

#about_hdrStartQ{
   position:relative;
   top: -40px;
   left: 0%;;
   width: 100%;
   height: 30px;
   
}

#aboutOnline_hdr{
   position:relative;
   top: 20px;
   left: -100px;
   width: 90%;
   height: 30px;
   border-bottom: 1px solid rgb(204,204,204);
   font: normal 18px verdana;
}

#aboutOnline_hdr_title{
  position: absolute;
  left: 0px;
  text-align: center;
  width:100%;
  height: 10px;
  font-weight: bold;
  font-size: 25px;
  color: white;
}
#instructorID{
  position: absolute;
  left: 600px;
  top: 10px;
  width: 350px;
  height: 210px;
  font: normal 15px tahoma;

}

#about_hdr_title{
  position: absolute;
  left: 0px;
  text-align: left;
  width:100%;
  height: 25px;
  font-weight: bold;
  font-size: 18px;
}

#desc_cont{
  position: relative;
  top: 30px;
  left: 10px;
  width: 95%;
  height: auto;
  margin-top: 20px;
  text-align: left;
}

#edit_link{
  position: relative;
  top: 50px;
  left: 10px;
  width: 90%;

}

/** add course style**/

h4.header{
  border-bottom: 1px solid rgba(204,204,204,1.0);
  padding-bottom: 10px;
  text-align:left;
}


#add_course_form_container{
   position: relative;
   top: 100px;
   left: 0px;
   width: 95%;
   height: auto auto;
}

#page-container{
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto auto;
}

#add_course_header{
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid rgb(204,204,204);
  text-align:left;
}

#add_course_title{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 300px;
  height: 30px;
  text-align:left;
  
}

#add_course_form{
  position: relative;
  left: 0px;
  top: 10px;
  width: 100%;
  text-align: left;
  height: auto auto;
}

#form_el{
  position: relative;
  left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 250px;
  height: auto;
}

/** course dashboard style**/

#cd_head{
  position: relative;
  left: 0px;
  top: 70px;
  margin-top: 10px;
  width: 95%;
  height: 150px;
  background-color: rgb(250, 250, 250);
}

#ins_photo{
  position: absolute;
  left: 5px;
  top: 5px;
  width: 190px;
  height: 137px;
  background-color: white;
}

#top_menu{
  position: absolute;
  left: 200px;
  top:0px;
  width: 79%;
  height: 40px;
  background-color: rgb(250, 250, 204);
}

#to_menu_link{
  position: absolute;
  left: 10px;
  top:10px;
  text-align: left;
}

#below_menu{
  position: absolute;
  left: 150px;
  top: 80px;
  width: 700px;
  height: 110px;
}

#b_menu_opt{
  position: absolute;
  top:70px;
  width: 320px;
  left: 10px;
  text-align: left;
}

#b_menu_search{
  position: absolute;
  left: 300px;
  top: 60px;
  width: 370px;
  text-align: right;
}

input.search_box{
  height: 20px;
  width: 180px;
}

input.btn_search{
  height: 30px;
}
}

/*
*
* Course list styles
*
*/

#cl_container{
  position: relative;
  left: 0px;
  top: 70px;
  width: 500px;
  height: auto auto;
}
#cl_container_stud{
  position: relative;
  top: 120px;
  left: 0px;
  width: 95%;
  height: auto auto;
 }

#cl_Courses_container{
  position: relative;
  top: 100px;
  left: 0px;
  width: 95%;
  height: auto auto;
  background-color: rgba(225,225,225,.9);

 }
#cl_head{
  position: relative;
  top: -20px;
  left: 0px;
  width: 94%;
  height: 40px;
  text-align: left;
  background-color: rgb(205, 240, 240);
  padding: .2em 2em;
}

#cl_head_title{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 210px;
  height: 30px;
  text-align: left;
  font: bold 22px verdana;
}

/** course announcement style **/
#ca_ann_con{
  position: relative;
  top: 20px;
  left: 20px;
  width: 95%;
  height: auto auto;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(204,204,204);
}

#ca_date_con{
  position: relative;
  top: 0px;
  left: 10px;
  width: 100%;
  height: 40px;
  text-align: left;
}

#ca_date_cont{
  position: absolute;
  left: 60%;
  top: 10px;
  width: 95%;
  height: 25px;
  text-align: left;
}

#ca_content{
  position: relative;
  top: 20px;
  left: 10px;
  width: 95%;
  height: auto auto;
  text-align: justify;
}

#ca-edit-pane{
  position: relative;
  top: 20px;
  text-align: right;
  left: 10px;
  width: 98%;
  height: 25px;
}

/** dropdown menu navigation **/
ul#nav {
  margin: 0 0 0 0px;
  width: 100%;
}

ul.user { 
  position: relative; 
  z-index: 597; 
  float: left; 
}

ul.user a { 
  display:inline; 
  color: white;
  font-family: Verdana; 
  font-size: 12px; 
  text-decoration: none;
}

ul.user li, ul.user ul { 
  list-style: none;
  margin: 0; 
  padding: 0; 
  background: transparent;
  color: white;
}

ul.user li { 
  float: none; 
  line-height: 1.3em; 
  vertical-align: middle ; 
  zoom: 1; 
  padding: 10px 10px; 
}

ul.user li.hover, ul.user li:hover { 
  position: relative; 
  z-index: 599; 
  cursor: default; 
  background: transparent; 
}

ul.user ul { 
  visibility: hidden; 
  position: absolute; 
  top: 100%; 
  left: 20px; 
  z-index: 598; 
  width: 202px; 
  background: white; 
  border: 1px solid rgb(204,204,204); 
  border-radius: 1px;
  box-shadow: 1px 0px 9px rgba(0,0,0,0.15);
}

ul.user ul > li > a{
  color: black;
}

ul.user ul > li{
  
  border-bottom: 1px solid rgb(204,204,204)
}

ul.user ul li { 
  float: left; 
  border-bottom: 1px solid rgb(204,204,204)
}

ul.user ul ul { 
  top: -2px; left: 100%; 
}
ul.user li:hover > ul {
  visibility: visible 
}

i.icon-caret-down{
  background-image: url('imageIcon/caret_down.png');
}

img.caret_down{
  margin-top: 10px;
}
/** Homepage Styles **/
#Latest_Courses{
    position: relative;
    top: 80px;
    width: 60%;
    height: 450px;
    left: 1%;
//    background: 
}
table#LatestCourse{
display: inline-block;
 height: 300px; 
 background-color: rgba(225,225,225,.3);

}
#homeBody{
 //background-image: url('../../images/bgc.jpg');
 background-repeat: no-repeat;
 background-size: auto auto;
}

#about{
    position: relative;
    top: 90px;
    width: 100%;
    height: 350px;
    overflow:auto;
// background: rgba(0,0,0,.3);
 background-image: url('../../images/bgc.jpg');
 color: black;
}
#RMore {
    display:none;
}
#Fbar{
 position: absolute;
  left: 0px;
  top: 100%;
  width: 100%;
  font: normal 12px calibri;
}
#Fbar2{
 position: absolute;
  left: 0px;
  top: 100%;;
  width: 100%;
  font: normal 20px calibri;
}
#accessB{
  position: absolute;
  left: 0px;
  top: 30px;
  width: 100%;
  font: normal 20px calibri;
  text-align:right;
  color: white;

}
#accessOCW{
  position: absolute;
  top: 30px;
  width: 100%;
  text-align:right;
  color: white;

}


#Powered{
  position: relative;
  top: -500px;
  left: 40%;
  height: 100px;
  width: 50%;
  //font: bold 20px sans script;
  background: white;
}

#Poweredw{
  position: relative;
  top: -180px;
 left: 40%;
  height: 100px;
  width: 50%;
  font: bold 20px sans script;
 // background: white;
}
/** top bar style **/
#h_bar_link{
    color: white;
   
}
#h_bar{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 40px;
  background-color: rgb(48,211,211);
}

#h_bar_stud{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 80px;
background: maroon;
}

#univ_name{
  position: absolute;
  left: 30px;
  top: 10px;
  width: 250px;
  color: white;
}

/** moco banner style **/

#moco_banner{
  position: relative;
  top: 40px;
  width: 100%;
  height: 90px;
}

#moco_logo{
  position: absolute;
  top: 10px;
  left: 1%;
  width: 200px;
  height: 70px;
}

#moco_logo_stud{
  position: absolute;
  top: 15px;
  left: 5%;
  width: 100px;
  height: 15px;
}

#banner_title{
  position: absolute;
  left: 20%;
  top: 40px;
  width: 70%;
  height: 40px;
  text-align:left;
}
#user_style{
  position: absolute;
  left: 85%;
  top: 10px;
  width: 250px;
  color: white;
}

#Offered_Courses{
  position: absolute;
  left: 60%;
  top: 40px;
  width: 250px;
  color: white;
  font: normal 14px sans serif;
}



/** side banner style **/

#sbar_con{
  position: absolute;
  left: 0px;
  top: 70px;
  width: 20%;
  height: auto auto;
  text-align: left;
}

ul.course-side-menu{
  
  list-style-type:none;
}

li{
 line-height: 21px;
}

.course-menu-item{
  list-style:none outside none;
 // min-height: 10px;
 // padding: 10px 0px 10px 25px;
  background-color: rgba(128, 128, 128, 0.05);
 // border: 1px solid rgb(226, 226, 226);
}
.course-menu-item_stud{
  list-style:none outside none;
  min-height: 10px;
  padding: 10px 0px 10px 25px;
  padding: 10px 0px 10px 25px;
  background-color: rgb(216,254,249);
  border: 1px solid rgb(226, 226, 226);
}

.course-menu-item_stud:hover{
  background-color: rgb(12, 252, 216);
}

.course-menu-item_stud  a{
  text-decoration: none;
}

.course-menu-item a{
 
  text-decoration: none;
  color:  rgba(17, 71, 85, .9);
}

.course-menu-item:hover{
  background-color: rgba(128, 128, 128, 0.15);
  text-decoration: none;
}


#side_menu{
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(240,240,240);
  height: 30px;
}

#side_menu_link{
  position:absolute;
  top: 5px;
  left: 10px;
  width: 100%;
  height: 25px;
}

/** student result style **/

#stud_res_hdr{
  position: absolute; 
  left: 0px;
  top: 10px;
  height: 25px;
  width: 50%;
  text-align: left;
}

#stud_res_opt{
  position: absolute;
  left: 50%;
  top: 0px;
  width: 50%;
  height: 25px;
  text-align: right;
}

#stud_res_display_option{
  position: relative;
  top: 40px;
  width: 95%;
  left: 10px;
  height: 40px;
  text-align: left;
}


/** syllabus style **/
#topic_add_pane{
  position: relative;
  top: 20px;
  left: 20px;
  width: 95%;
  height: 40px;
}

#table_option{
  position: relative;
  top:10px;
  left: 10px;
  width: 95%;
  height: 40px;
}

#tbl_container{
  position: relative;
  top: 10px;
  left: 10px;
  width: 100%;
  height: auto auto;
}

input.topic{
  width: 80%;
}

th{
  text-align: left;
}

/** anchor link style **/
a.delete_link{
  image-background: url(../images/exit.png);
  text-decoration: none;
  cursor: pointer;
}
#fresh{
    position: absolute;
    top: 30%;
    width: 100%;
    font-family: calibri;
}

/**** collapsible and expandable div******/

div.expandabe{
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  height: auto auto;
} 

div.expandable div.exp-header{
  position: relative;
  width: 100%;
  background-color: rgb(235,235,235);
  height: 30px;  
  padding-left: 10px;
  padding-top: 5px;
  margin-top: 10px; 
}

div.expandable div.exp-content{
  position: relative;
  margin-top:5px;
}

/****** icon *************/
span.caret-down{
  position: absolute;
  left: 95%;
  top: 10px;
  cursor: pointer;
  text-align:right;
}
