/*normal*/


#calibri_36normal{
   font-family: calibri;
   font-size: 36;
   font-style: normal;
   text-decoration: none;
   text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
   font-smooth: always;

}

#calibri_24normal{
   font-family: calibri;
   font-size: 24;
   font-style: normal;
   font-smooth: always;

}

#calibri_20normal{
   font-family: calibri;
   font-size: 20;
   font-style: normal;
   font-smooth: always;

}

#calibri_12normal{
   font-family: calibri;
   font-size: 12;
   font-style: normal;
   font-smooth: always;

}

#calibri_14normal{
   font-family: calibri;
   font-size: 14;
   font-style: normal;
   font-smooth: always;

}

#calibri_18normal{
   font-family: calibri;
   font-size: 18;
   font-style: normal;
   font-smooth: always;

}


/*bold*/

#calibri_36_bold{
   font-family: calibri;
   font-size: 36;
   font-style: bold;
}

#calibri_24_bold{
   font-family: calibri;
   font-size: 24;
   font-style: bold;
}


#calibri_20_bold{
   font-family: calibri;
   font-size: 20;
   font-style: bold;
}

#calibri_12_bold{
   font-family: calibri;
   font-size: 12;
   font-style: bold;
}

#calibri_14normal{
   font-family: calibri;
   font-size: 14;
   font-style: bold;
}

#calibri_18normal{
   font-family: calibri;
   font-size: 18;
   font-style: bold;
}



