/*normal*/

#sans_serif_36normal{
   font-family: sans serif;
   font-size: 36;
   font-style: normal;
}

#sans_serif_20normal{
   font-family: sans serif;
   font-size: 20;
   font-style: normal;
}

#sans_serif_12normal{
   font-family: sans serif;
   font-size: 12;
   font-style: normal;
}

#sans_serif_14normal{
   font-family: sans serif;
   font-size: 14;
   font-style: normal;
}

#sans_serif_18normal{
   font-family: sans serif;
   font-size: 18;
   font-style: normal;
}



/*bold*/

#sans_serif_36bold{
   font-family: sans serif;
   font-size: 36;
   font-style: bold;
}

#sans_serif_20normal{
   font-family: sans serif;
   font-size: 20;
   font-style: bold;
}

#sans_serif_20normal{
   font-family: sans serif;
   font-size: 12;
   font-style: bold;
}

#sans_serif_20normal{
   font-family: sans serif;
   font-size: 14;
   font-style: bold;
}

#sans_serif_20normal{
   font-family: sans serif;
   font-size: 18;
   font-style: bold;
}



