/*normal*/


#verdana_36normal{
   font-family: verdana;
   font-size: 36;
   font-style: normal;
   text-decoration: none;
   text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
   font-smooth: always;
}

#verdana_24normal{
   font-family: verdana;
   font-size: 24;
   font-style: normal;
   font-smooth: always;

}

#verdana_20normal{
   font-family: verdana;
   font-size: 20;
   font-style: normal;
}

#verdana_12normal{
   font-family: verdana;
   font-size: 12;
   font-style: normal;
   font-smooth: always;

}

#verdana_10normal{
   font-family: verdana;
   font-size: 10;
   font-style: normal;
   font-smooth: always;

}

#verdana_14normal{
   font-family: verdana;
   font-size: 14;
   font-style: normal;
}

#verdana_18normal{
   font-family: verdana;
   font-size: 18;
   font-style: normal;
}


/*bold*/

#verdana_36_bold{
   font-family: verdana;
   font-size: 36;
   font-style: bold;
}

#verdana_24_bold{
   font-family: verdana;
   font-size: 24;
   font-style: bold;
}

#verdana_20_bold{
   font-family: verdana;
   font-size: 20;
   font-style: bold;
}

#verdana_14normal{
   font-family: verdana;
   font-size: 14;
   font-style: bold;
}

#verdana_18normal{
   font-family: verdana;
   font-size: 18;
   font-style: bold;
}

#verdana_12_bold{
   font-family: verdana;
   font-size: 12;
   font-style: bold;
}

#verdana_10_bold{
   font-family: verdana;
   font-size: 10;
   font-style: bold;
}




